
<head>   
    <title><%- title %></title>
    <script src="./content/adicional/home.js"></script>
</head>

<body class="text-center bodyImage1">
    <div id="menuLateral"></div>       
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="./content/images/loading.gif" alt="">
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">RPG REPUBLIC</h1>
                    <br /><br /><br />
                    <div class="row">
                        <div class="col-6">
                            <img src="./content/images/logo_entrar.gif" width="500px">
                            <br /><br />
                            <div class="row">
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="col-2"> &nbsp  &nbsp</div>
                            <h1>Opções</h1>
                            <button onclick="self.location='./sala'">Escolher Salas</button>
                            <br>
                            <button>Sons do Usuário</button>
                            <br>
                            <button>Personagens/Fichas</button>
                            <br>
                            <button>Itens</button>
                            <br>
                            <button>Loja</button>
                            <br>
                            <button>Recompensas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>   
</body>


