<title>
    <%- title %>
</title>
<script src="./content/adicional/loja.js"></script>

<div class="bodyImage1 perfil">
    <br> <br> <br> <br> <br>
    <div class="container jumbotron">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-control">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 10px;">
                            <h2>Adquirir Passes</h2>
                            <br>
                            <div id="passeOuro" class="selecionarItem" onclick="loja.adquirir('ouro')">
                                <div class="row form-control">
                                    Ouro
                                    <img width="100%" src="https://i.makeagif.com/media/5-15-2016/StennC.gif">
                                </div>
                            </div>
                            <br>
                            <div id="passePrata" class="selecionarItem" onclick="loja.adquirir('prata')">
                                <div class="row form-control">
                                    Prata
                                    <img width="100%"
                                        src="https://thumbs.gfycat.com/EarlyNeatBlackfootedferret-size_restricted.gif">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn btn-outline-warning" type="button" data-bs-toggle="collapse"
                            data-bs-target="#clpsInfoCompra" aria-expanded="false" aria-controls="collapseWidthExample">
                             Informações sobre nossa compra online !
                        </button>
                    </div>
                    <br>
                    <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="clpsInfoCompra">
                            <div class="form-control">
                                <div class="card card-body">
                                    Para realizar as compras, click no item desejado e em seguida leia
                                    o QRcode que surgirá, contendo link para o pagamente via PIX.
                                    Por fim, envie o comprovate da transação para o e-mail <u>suporte.rpg@gmail.com</u>
                                    <br>
                                    Nossa plataforma garante a consistências das transações.
                                    Qualquer dúvida entre em contato através do e-mail <u>suporte.rpg@gmail.com</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-6">
                                            <label class="title">Usuário</label>
                                            <h1 id="lblLogin" class="display-6 text" style="font-size: 2rem;">LOGIN</h1>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                            <label class="title">Passe</label><br>
                                            <label id="lblRank" class="form-label text">Bronze</label>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                            <label class="title">Moedas</label><br>
                                            <label id="lblMoedas" class="form-label text">1</label>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                            <label class="title">Baús</label><br>
                                            <label id="lblBaus" class="form-label text">1</label>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm- col-6">
                                            <label class="title">Slots Fichas</label><br>
                                            <label id="lblSloteFichas" class="form-label text">1</label> 🗄
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <h2>Adquirir</h2>
                                <br>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.adquirir('moeda')">
                                        <div class="form-control selecionarItem">
                                            <h4>Moedas</h4>
                                            <hr>
                                            <img width="100%"
                                                src="https://img.freepik.com/vetores-gratis/pilha-de-moedas-de-ouro-moeda-de-ouro-dolar-pilha-de-dinheiro-e-ilustracao-realista-de-pilha-de-dinheiro-ouro_102902-1189.jpg">
                                            50 Moedas
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.adquirir('sacoMoeda')">
                                        <div class="form-control selecionarItem">
                                            <h4>Saco de Moedas</h4>
                                            <hr>
                                            <img width="100%" src="./content/images/SacoDinheiro.gif">
                                            200 Moedas
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.adquirir('icone')">
                                        <div class="form-control selecionarItem">
                                            <h4>Item Exclusivo</h4>
                                            <hr>
                                            <img width="100%"
                                                src="https://cdn.pixabay.com/photo/2018/03/18/01/46/red-dragon-3235672_960_720.jpg">
                                            Icone
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="Fichas" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <h2>Comprar com moedas</h2>
                                <br>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.comprar()">
                                        <div class="form-control selecionarItem">
                                            <h4>1 Baú</h4>
                                            <hr>
                                            <img width="100%" src="./content/images/BauOpen.gif">
                                            $💰 10 Moedas
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.comprar()">
                                        <div class="form-control selecionarItem">
                                            <h4>5 Baús</h4>
                                            <hr>
                                            <img width="100%"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPkDR1r22dc_cnu3tOjo2VK4eDBLmq4WumQ&usqp=CAU">
                                            $💰 40 Moedas
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-6" onclick="loja.comprar()">
                                        <div class="form-control selecionarItem">
                                            <h4>1 Slot de Ficha</h4>
                                            <hr>
                                            <img width="100%"
                                                src="https://thumbs.dreamstime.com/b/estilo-de-desenho-animado-do-%C3%ADcone-gaveta-documentos-armazenamento-da-vetor-para-design-web-isolado-em-fundo-branco-191638766.jpg">
                                            $💰50 Moedas
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlaquirirPasseOuro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="divModalTamanho"class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprar!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="ModalBody" class="modal-body">
                <div class="row justify-content-md-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                        <img src="./content/images/QRCode.gif" alt="" width="100%">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                        <div id="divModalAdquirir">
                            <h2> Passe Prata R$ 9,99</h2>
                            <br>
                            <p>
                            <h5>Compre o Passe de Prata para ter benefícios como:<br><br>
                                -Sempre que ganhar ou comprar um Bau receberá em dobro! <br>
                                -Sempre que ganhar ou comprar um Slot de Ficha receberá em dobro!</h5><br>
                            *Ao final da temporada os jogares votam ao passe Bronze.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-md-center">
                <button class="btn btn btn-outline-warning" type="button" data-bs-toggle="collapse"
                    data-bs-target="#clpsInfoCompraModal" aria-expanded="false" aria-controls="collapseWidthExample">
                     Informações sobre nossa compra online !
                </button>
                <div class="collapse collapse-horizontal" id="clpsInfoCompraModal">
                    <div class="card card-body">
                        Para realizar as compras, click no item desejado e em seguida leia
                        o QRcode que surgirá, contendo link para o pagamente via PIX.
                        Por fim, envie o comprovate da transação para o e-mail suporte.rpg@gmail.com
                        <br>
                        Nossa plataforma garante a consistências das transações.
                        Qualquer dúvida entre em contato através do e-mail suporte.rpg@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlcomprarSloteFicha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprar Slot de Ficha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <img width="100%"
                        src="https://thumbs.dreamstime.com/b/estilo-de-desenho-animado-do-%C3%ADcone-gaveta-documentos-armazenamento-da-vetor-para-design-web-isolado-em-fundo-branco-191638766.jpg">
                    <h3>$💰50 Moedas</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="alert('Você não tem moedas suficientes!');"
                    class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>