<head>   
    <title><%- title %></title>
</head>

<div class="bodyImage1">
   
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4"> PERFIL</h1>
                    <br>
                    <button class="btn btn-lg btn-block btn-primary">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
