<head>
    <title>
        <%- title %>
    </title>
    <script src="./content/adicional/perfil.js"></script>
</head>
<div class="bodyImage1 perfil">
    <br> <br> <br> <br> <br>
    <div class="container jumbotron">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                            <label class="title">Usuário</label>
                                            <h1 id="lblLogin" class="display-6 text">LOGIN</h1>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 ">
                                            <label id="lblNivel" class="form-label">Nivel 10 XP:</label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 ">
                                            <input id="iptXP" type="range" min="0" max="3" step="1">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                        <label class="title">E-mail</label>
                                        <label id="lblEmail" class="form-label text">
                                            082170017@faculade.cefsa.edu.br</label>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                        <label class="title">Rank</label>
                                        <label id="lblRank" class="form-label">Bronze</label>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                        <label class="title">Moedas</label>
                                        <label id="lblMoedas" class="form-label">10</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="jumbotron jumbotron-fluid">
                                    <h1 class="display-6">ITENS CONQUISTADOS</h1>
                                    <div class="row align-items-center">
                                    </div>
                                </div>
                                <br>
                                <div class="icone">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">
                                                <h4>Icones</h1>
                                                    <div id="divIcones" class="row">
                                                    </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">
                                                <h4>Fontes</h1>
                                                    <div id="divFontes" class="row"></div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="card">
                                                <h4>Cor de texto</h1>
                                                    <div id="divCorTexto" class="row"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-control">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <br />
                            <img id="imgIcone" width="400px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> 
</div>
