<title>
    <%- title %>
</title>
<script src="./content/adicional/recompensa.js">  </script>
<script>
    var listaItenGeral = <%- JSON.stringify(listaIten) %> 
</script>

<div class="text-center bodyImageRecom">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div id="bodyContent" class="jumbotron justify-content-md-center">
                    <img width="65%" src="./content/images/recompensas.png">
                    <br>
                    <br>
                    <img id="imgBau" src="./content/images/Rsembau.png" width="300px">
                    <br>
                    <br>
                    <button id="btnAbrirBau" class="btn btn-lg btn-block btn-primary" disabled="true"
                        onClick="recompensa.abrirCaixa()"> Sem baús para abrir </button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mdlRecompensa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h5 align="center" class="modal-title " id="exampleModalLabel">&nbsp;&nbsp; 🏆 RECOMPENSA CONQUISTADA 🏆
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <div id="divMoeda" class="row justify-content-md-center" style="display: flex;">
                    <img id="imgBau" src="./content/images/Coin.gif" width="200px">
                    <hr>
                    <h5>Voce ganhou (1) Moeda(s)!</h5>
                </div>
                <div id="divIcone" class="row justify-content-md-center" style="display: flex;">
                    <img id="imgIconeNovo" width="200px">
                    <hr>
                    <h5>Voce ganhou um Icone Novo!</h5>
                </div>
                <div id="divFontColor" class="row justify-content-md-center" style="display: flex;">
                    <br>
                    <div id="divTextoCorNova" class="inLine" style="font-size: large;">Voce ganhou a nova cor de texto
                        especial: </div>
                    <input disabled type="color" id="iptCorNova">
                    <br>
                    <hr>
                    <h5>Voce ganhou uma nova cor de texo!</h5>
                </div>
                <div id="divFontFamily" class="row justify-content-md-center" style="display: flex;">
                    <br>
                    <div class="inLine" style="font-size: large;">Voce ganhou a nova fonte de texto especial: </div>
                    <div id="divTextoFonteNova" class="inLine" style="font-size: large;"></div>
                    <br>
                    <hr>
                    <h5>Voce ganhou uma nova Fonte de Texto!</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .row>* {
        width: 400px;
    }
</style>