    <title>        <%- title %>    </title>


<div class="text-center bodyImage1">    
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">RECOMPENSAS</h1>
                    <br>
                    <button class="btn btn-lg btn-block btn-primary" onClick="recompensa.random()">ABRIR CAIXA</button>

                </div>
            </div>
        </div>
    </div>
</div>