<title>
  <%- title %>
</title>
<script src="./content/adicional/registrar.js"></script>

<div class="text-center bodyImageRegistrar cadastro">
  <br>
  <div class="container">
    <div class="row justify-content-md-center">      
      <div id="bodyContent" class="form-signin col-xl-6 col-lg-6 col-md-8 col-sm-10">       
        <img width="95%" src="./content/images/rpg republic.png">
        <br><br><br>
        <img width="55%" src="./content/images/registrar.png">
          <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 justify-content-center">
              <label for="txtUSerEmail" class="form-label">E-mail</label>
              <input id="txtUSerEmail" type="email" class="form-control" placeholder="E-mail">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 justify-content-center">
              <label for="txtUSerName" class="form-label">Nome do usuário</label>
              <input id="txtUSerName" type="text" class="form-control" placeholder="Usuário">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-6 justify-content-center">
              <label for="txtUserSenha" class="form-label">Senha</label>
              <input type="password" id="txtUserSenha" class="form-control" placeholder="Senha">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-6 justify-content-center">
              <label for="txtUserRepetirSenha" class="form-label">Repetir Senha</label>
              <input type="password" id="txtUserRepetirSenha" class="form-control" placeholder="Repetir Senha">
            </div>
          </div>
        
        <br />
        <div class="row justify-content-md-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <button class="btn btn-lg btn-primary btn-block" onclick="registrar.registrar();">Registrar</button>           
          </div>
        </div>
        <br>
        <a class="btn btn-outline-secondary" onclick="window.location = './registrar'">Já possui uma conta? LOGIN</a>
      </div>      
    </div>
  </div>
</div>