<style>
    .messages {
        width: 90%;
        height: 400px;
        margin: 20px 0;
        border: 1px solid rgb(42, 1, 119);
        padding: 20px;
        background-color: rgb(219, 218, 221);
        align-items: left;
    }

    #chat {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .borda {
        border: 1px solid rgb(18, 13, 27);
    }
</style>
<script src="./content/adicional/sala.js"></script>
<title>
    <%- title %>
</title>
<div class="text-center bodyImage3">
    <div id="menuLateral"></div>
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="content/images/loading.gif" alt="">
        </div>
    </div>

    <div>
        <br /><br /><br />
        <div class="container " style="background-color: white;">
            <div class="row">
                <h1 style="align-items: center;" id="NomeSala">Sala: <%- sala.descricao %>
                </h1>
            </div>
            <div class="row form-signin">
                <div class="col-4 ">
                    <div class="form-control">
                        <div class="col-12">
                            <br />
                            <button class="form-control" type="button" onclick="sala.dados()">
                                🎲 Dados 🎲</button>
                        </div>
                        <div class="col-12">
                            <br />
                            <h1 style="text-align: center;"> Chat</h1>
                            <form id="chat">
                                <!-- <div class="messages"></div> -->
                                <div style="text-align: left; font-size: medium;" id="divChat"
                                    class="overflow-auto form-control messages">
                                </div>
                                <input class="form-control" id="txtText" type="text" style="width: 95%;" name="username"
                                    placeholder="digite sua mensagem">
                                <br />
                                <button class="form-control" type="button" onclick="sala.adicionarMensagem()">
                                    Enviar</button>
                                </input>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-md-9">
                    <div class="form-control">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-md-12 ">
                                <br />
                                <div class="input-group mb-3">
                                    <input type="text" id="txtAtributoFicha" class="form-control" placeholder="Atributo"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button onclick="sala.addAtributo()" class="btn btn-outline-secondary"
                                            type="button">➕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-md-12">
                                <br />
                                <div class="input-group mb-3">
                                    <input type="text" id="txtItemFicha" placeholder="Item" class="form-control"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button onclick="sala.addItem()" class="btn btn-outline-secondary"
                                            type="button">➕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                        <h1 class="display-2">Ficha</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal
                                            space of its parent.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="ModalDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div id="ModalBody" class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>