<script src="content/adicional/sala.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<script>
    var salaEntrando = JSON.parse(localStorage.getItem('sala'));
    if (!salaEntrando || salaEntrando.id != `<%-sala.idSala %>` || salaEntrando.senha != `<%-sala.senha %>`) {
        localStorage.removeItem('sala');
        self.location = './home';
    };
</script>

<title>
    <%- title %>
</title>
<div class="text-center bodyImage3">
    <div>
        <br><br><br>
        <div class="container " style="background-color: white;">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="display-6" align="right" style="align-items: center;" id="NomeSala">
                        Sala: <%-sala.descricao %>
                    </div>
                </div>
                <div class="row-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="display-6" align="right" id="NomeSala">
                        <div id="divXpUp" style="display: none;" class="inline">
                            <img src="./content/images/xpUP.gif" title="Ganhar XP" onclick="sala.coletarXP();"
                                width="60px">
                        </div>
                        <div id="divCronometro" style="display: block;" class="inline">
                            ⏲
                            <div class="inline" id="relMinutos">00</div>
                            <div class="inline" id="relSegundos">:00</div>
                            🧰
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row form-signin">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-4 ms-md-auto col-6">
                                        <h1 class="display-6">Adicionar</h1>
                                    </div>
                                    <div class="col-md-4 ms-auto col-6" style="padding: 10px;">
                                        <button class="btn btn-outline-success" onclick="sala.carregarFicha();">
                                            Carregar Ficha</button>
                                        <button class="btn btn-primary" onclick="sala.salvarFicha()">
                                            Salvar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <br />
                                        <div class="input-group mb-3 align-items-center">
                                            &nbsp;&nbsp;
                                            <input type="text" id="txtAtributoFicha" class="form-control"
                                                placeholder="Atributo" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2" style="margin: 0px">
                                            <div class="input-group-append">
                                                <button onclick="sala.addAtributo()" class="btn btn-outline-secondary"
                                                    type="button">➕</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <br />
                                        <div class="input-group mb-3 align-items-center">
                                            <input type="text" id="txtItemFicha" placeholder="Item" class="form-control"
                                                aria-label="Recipient's username" aria-describedby="basic-addon2"
                                                style="margin: 0px">
                                            <div class="input-group-append">
                                                <button onclick="sala.addItem()" class="btn btn-outline-secondary"
                                                    type="button">➕</button>
                                            </div>
                                            &nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="jumbotron jumbotron-fluid" style="padding: 10px;">
                                    <h1 class="display-6">Ficha</h1>
                                    <div class="row align-items-center ficha-sala">
                                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12" style="text-align: left;">
                                            <div class="row align-items-center">
                                                <div class="row align-items-center" style="padding-bottom: 20px;">
                                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                                        <label for="txtFichaNome" class="form-label">Personagem</label>
                                                        <div class="input-group input-group-lg">
                                                            <input id="txtFichaNome" type="text"
                                                                class="form-control textoEditavel"
                                                                placeholder="Personagem">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                                                        <label class="form-label">Raça</label>
                                                        <input id="sltFichaRaca" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                                        <div class="row align-items-center">
                                                            <br><br>
                                                            <div class="col-6 col-sm-6">
                                                                <label for="txtFichaVida"
                                                                    class="form-label">Vida</label>
                                                                <input id="txtFichaVida" type="number"
                                                                    class="form-control textoEditavel">
                                                            </div>
                                                            <div class="col-6 col-sm-6">
                                                                <label for="txtFichaMana"
                                                                    class="form-label">Mana</label>
                                                                <input id="txtFichaMana" type="number"
                                                                    class="form-control textoEditavel">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                                                        <label class="form-label">Classe</label>
                                                        <input id="sltFichaClasse" class="form-control">

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                            <img id="imgIconFicha" class="IconFicha" src="content/images/loading.gif"
                                                alt="user">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6">
                                                <label for="txtFichaTentativa" class="form-label">Tentativas: </label>
                                                <label class="radio-inline"><input type="radio" name="Tentativas"
                                                        checked class="textoEditavel">1</label>
                                                <label class="radio-inline"><input type="radio" name="Tentativas"
                                                        class="textoEditavel">2</label>
                                                <label class="radio-inline"><input type="radio" name="Tentativas"
                                                        class="textoEditavel">3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row sala-atributos">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="card">
                                                <h4>Atributos</h1>
                                                    <div id="divAtributo" style="padding: 10px;" class="row"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="card">
                                                <h4>Mochila</h1>
                                                    <div id="divItem" style="padding: 10px;" class="row"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-control">
                        <div class="col-12">
                            <br />
                            <!-- <button class="form-control" type="button" data-bs-toggle="modal"
                                data-bs-target="#ModalDados" onclick="  setTimeout(function(){ 
                                    $('#canvas').empty();
                                    dice_initialize(document.body);
                               }, 500);">
                                🎲 Dados 🎲</button> -->
                            <a href="/telaDados" target="_blank"
                                onclick="window.open(this.href, this.target, 'width=704,height=489'); return false;">
                                <button class="form-control" type="button"> 🎲 Dados 🎲</button></a>
                        </div>
                        <div class="col-12">
                            <br />
                            <h1 style="text-align: center;"> Chat</h1>
                            <form id="chat">
                                <div style="text-align: left; font-size: medium;" id="divChat"
                                    class="overflow-auto form-control messages">
                                </div>
                                <input class="form-control" id="txtText" type="text" style="width: 95%;" name="username"
                                    placeholder="digite sua mensagem">
                                <br />
                                <button class="form-control" type="submit">Enviar</button>
                                </input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="ModalBody" class="modal-body">
                <div style="margin: 0">
                    <div id="info_div" style="display: none">
                        <div class="center_field">
                            <span id="label"></span>
                        </div>
                    </div>
                    <div id="selector_div" style="display: none">
                        <div class="center_field">
                            <input type="text" id="set" value="4d6"></input><br />
                            <button style="margin-left: 0.6em" id="throw">Rolar</button>
                            <br />
                        </div>
                    </div>
                    <div id="canvas"></div>

                    <link rel="stylesheet" href="./dice/dice/dice.css">
                    <script src="./dice/libs/three.min.js"></script>
                    <script src="./dice/libs/cannon.min.js"></script>

                    <script type="text/javascript" src="./dice/teal.js"></script>
                    <script type="text/javascript" src="./dice/dice/dice.js"></script>
                    <script type="text/javascript" src="./dice/dice/main.js"></script>
                    <script type="text/javascript" defer="defer">
                        // dice_initialize(document.body);                        
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>