<title>
    <%- title %>
</title>
<div class="text-center bodyImageRegistrar">
    <div id="menuLateral"></div>
    <div class="container">
        <div class="row">            
            <div class="col-12">
                <div id="bodyContent" class="jumbotron">
                    <img width="55%" src="./content/images/rpg republic.png">
                    <p style="font-weight: bold;">
                    <h3>Nosso projeto segue uma arquitetura em camadas</h3>
                    </p>
                    <br>
                    <ul class="lista">
                        <li>🔧 Sistema para auxílio em partidas RPG com gamificação!</li>
                        <br>
                        <li>🧰 Site <a href="https://rpg-republic.jfelipeab.repl.co/home.html"> RPG -
                                Republic</a> Hospedado por <a href="https://replit.com/"> Repl.it</a></li>
                        <br>
                        <li>💻 Projeto OpenSource: <a href="https://github.com/JFelipeAB/RPGRepublic">GitHub</a>
                        </li>
                        <br>
                        <li>📒 Banco de dados : MongoDB - <a href="https://www.mongodb.com/pt-br">MongoDB</a>
                        </li>
                        <br>
                        <li>☕️ BackEnd: Node.js</li>
                        <br>
                        <li>📓 FrontEnd: HTML5, BootStrap5, EJS e AJAX</li>
                    </ul>
                    <br>
                    <br>
                    <h5 class="display-5">🦾 Autores</h5>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <h5>João Borges</h5>
                        </div>
                        <div class="col-3">
                            <h5>Matheus Butinhão</h5>
                        </div>
                        <div class="col-3">
                            <h5>Denilson Silva</h5>
                        </div>
                        <div class="col-3">
                            <h5>Ighor Scavone</h5>
                        </div>
                        <br>
                        <a href='https://www.freepik.com/photos/fun'>ALL Fun photo created by freepik - www.freepik.com</a>    
                    </div>
                    <br>
                    
                    <!-- <div class="col-12">
                        <div class="container" data-aos="fade-up">
                            <div class="row">
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/JoaoF.png">
                                    <p>João Filipe Alves Borges</p>                                   
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Matheus.png">
                                    <p>Matheus Rodrigues Butinhão</p>                                    
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Denilsono.png">
                                    <p>Denilson Murilo Silva</p>                                    
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Ighor.png">
                                    <p>Ighor Ibraim Scavone</p>                                   
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>