<head>   
    <title><%- title %></title>
</head>
<body class="text-center bodyImage1">
    <div id="menuLateral"></div>
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="./content/images/loading.gif" alt="">
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">⚙️ Detalhes Tecnicos</h1>
                    <p style="font-weight: bold;">
                    <h4>Nosso projeto segue uma arquitetura em camadas<h4>
                            aos dados</p>
                            <ul class="lista">
                                <li>🔧 Sistema para auxilio em partidas RPG</li>
                                <br>
                                <li>🧰 Site <a href="https://rpg-republic.jfelipeab.repl.co/home.html"> RPG -
                                        Republic</a> Hospedado por <a href="https://replit.com/"> replit</a></li>
                                <br>
                                <li>💻 Projeto OpenSource: <a
                                        href="https://github.com/den-silva/Rpg-Republic/">GitHub</a> </li>
                                <br>
                                <li>📚 Scrum e Sprints Jira: <a
                                        href="https://rpgrepublic.atlassian.net/">JiraSoftware</a> </li>
                                <br>
                                <li>☕️ Linguagem: Java Script - Node.js</li>
                                <br>
                                <li>📒 Banco de dados : noSQL - <a href="https://www.postgresql.org/">PostgreSQL</a>
                                </li>
                                <br>
                                <li>📓 interface gráfica bibliotecas: Bootstrap & JQuery</li>
                            </ul>
                </div>
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">🦾 Autores</h1>
                    <br />
                    <div class="col-12">
                        <div class="container" data-aos="fade-up">
                            <div class="row">
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/JoaoF.png">
                                    <p>João Filipe, Desenvolvedor FullStack</p>
                                    <p>082170017</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Matheus.png">
                                    <p>Matheus, Gestão</p>
                                    <p>081180041</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Denilsono.png">
                                    <p>Denilson, Desenvolvedor Fantasma</p>
                                    <p>082160032</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Ighor.png">
                                    <p>Ighão, Postgresql DBA</p>
                                    <p>082170011</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>