    <title><%- title %></title>
<div class="text-center bodyImage1">
    <div id="menuLateral"></div>
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="./content/images/loading.gif" alt="">
        </div>
    </div>


        <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">⚙️ Detalhes Técnicos</h1>
                    <p style="font-weight: bold;">
                    <h4>Nosso projeto segue uma arquitetura em camadas<h4>
                            aos dados</p>
                            <ul class="lista">
                                <li>🔧 Sistema para auxílio em partidas RPG com gamificação!</li>
                                <br>
                                <li>🧰 Site <a href="https://rpg-republic.jfelipeab.repl.co/home.html"> RPG -
                                        Republic</a> Hospedado por <a href="https://replit.com/"> Repl.it</a></li>
                                <br>
                                <li>💻 Projeto OpenSource: <a
                                        href="https://github.com/JFelipeAB/RPGRepublic">GitHub</a> </li>
                                <br>
                                <!--
                                    <li>📚 Scrum e Sprints Jira: <a
                                            href="https://rpgrepublic.atlassian.net/">JiraSoftware</a> </li>
                                    <br>
                                -->
                                <li>📒 Banco de dados : MongoDB - <a href="https://www.mongodb.com/pt-br">MongoDB</a>
                                </li>
                                <br>
                                <li>☕️ BackEnd: Node.js</li>
                                <br>
                                <li>📓 FrontEnd: HTML5, BootStrap5, EJS e AJAX</li>
                            </ul>
                </div>
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-4">🦾 Autores</h1>
                    <br />
                    <div class="col-12">
                        <div class="container" data-aos="fade-up">
                            <div class="row">
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/JoaoF.png">
                                    <p>João Filipe Alves Borges</p>
                                    <p>082170017</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Matheus.png">
                                    <p>Matheus Rodrigues Butinhão</p>
                                    <p>081180041</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Denilsono.png">
                                    <p>Denilson Murilo Silva</p>
                                    <p>082160032</p>
                                </div>
                                <div class="col-6">
                                    <img width="60%" height="60%" src="content/images/Ighor.png">
                                    <p>Ighor Ibraim Scavone</p>
                                    <p>082170011</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>